.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6D6D6D;
    font-size: 16px;
}
.add form{
   gap: 20px;
}
.add-img-upload img{
    width: 120px;
}
.add-product-name, .add-product-description{
    width: max(40%,280px);
}
.add-product-name input ,.add-product-description textarea{
    padding: 10px 10px;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select,.add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {
    .add{
        width: 90%;
        margin-left: 5vw;
    }
    .add-img-upload img{
        width: 100px;
    }
    .add-product-name, .add-product-description{
        width: 100%;
    }
    .add-category-price{
        flex-direction: column;
        gap: 10px;
    }
    .add-category-price select, .add-category-price input{
        max-width: 100%;
    }
    /* Limit dropdown height and enable scrolling */
.add-category select {
  max-height: 150px; /* Limit height */
  overflow-y: auto; /* Enable vertical scroll */

}


/* Optional: Style select for better look */
.add-category select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: white;
  
}

.add-category option {
  padding: 8px;
  
}

}


.spinner {
  border: 3px solid #f3f3f3; /* Light gray */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
