.sidebar {
  width: 240px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 25;

  box-shadow: 2px 0 5px rgba(0,0,0,0.05);
}

.sidebar-logo {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8rem 0;
  color: #2d3748;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 1rem;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.7rem 0.9rem;
  text-decoration: none;
  color: #4a5568;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: background 0.2s ease, color 0.2s ease;
}

.sidebar-option img {
  width: 20px;
  height: 22px;
  padding: 0px;
}

.sidebar-option:hover {
  background: #f7fafc;
  color: #2b6cb0;
}

.sidebar-option.active {
  background: #ebf8ff;
  color: #2b6cb0;
  font-weight: 600;
}

/* Mobile view */
@media (max-width: 768px) {
  .sidebar {
    width: 70px; /* small icon-only sidebar */
    padding: 1rem 0.5rem;
    align-items: center;
    position: absolute;
  left: 0;
  top: 205;
  padding-top: 100px;
  }
 

  .sidebar-logo {
    display: none;
  }

  .sidebar-option span {
    display: none;
  }

  .sidebar-option {
    justify-content: center;
    padding: 1.6rem;
  }
}

